.landing-main{
  background-image: url('http://i.imgur.com/CrGdvv3.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 60vw;
}
.space-creator{
  height: 6vw;
}
.landing-logos{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0vw 38vw 0vw 38vw;
  align-items: center;
  background: rgba(0, 0, 0,0.5);
  height: 0vw;
}
.landing-logos h1{
  position: absolute;
  font-size: 3vw;
  opacity: 0;
  transition: transform 0.5s, font-size 0.5s;
}
.landing-logos h1:hover{
  transform: translate(-15%,0%);
  font-size: 5vw;
}
.landing-logos h1:nth-child(1){
  left: 37vw;
  bottom: 0vw;

}
.landing-logos h1:nth-child(2){
  left: 47vw;
  bottom: 0vw;

}
.landing-logos h1:nth-child(3){
  left: 57vw;
  bottom: 0vw;


}

.landing-logos h1 a{
  color: white;
}

.landing-logos h1 a:hover{
  /*color: #23deac;*/
}
@media (max-width: 685px){
  .landing-logos h1{
    bottom: -0.5vw !important;
  }
}
@media (max-width: 475px){
  .landing-logos h1{
    bottom: -1vw !important;
  }
}
@media (max-width: 400px){
  .landing-logos h1{
    bottom: -1.5vw !important;
  }
}
