.project-main-div a img{
  overflow: hidden;
}
/*.project-main-div a img:hover{
  animation: onhover 1s linear;
}*/
.project-main-div h3{
  text-shadow: 0.05vw 0.05vw 0 black, -0.05vw -0.05vw 0 black, 0.05vw -0.05vw 0 black, -0.05vw 0.05vw 0 black, 0.05vw 0.05vw 0 black;
  transition: font-weight 0.5s, color 0.5s;
  color: white;
  text-decoration: underline;
  font-size: 2vw;
}
.project-main-div:hover .project-github-link{
  opacity: 1;
}
.hover:hover h3{
  font-weight: bolder;
  text-shadow: 0.05vw 0.05vw 0 white, -0.05vw -0.05vw 0 white, 0.05vw -0.05vw 0 white, -0.05vw 0.05vw 0 white, 0.05vw 0.05vw 0 white;
  color: #15478c;
}
.project{
  width: 20vw;
  margin: 0vw 3vw 0vw 3vw;
  border: 3px solid white;
  box-shadow: 10px 10px 10px black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.project-github-link{
  opacity: 0;
  transition: opacity 1s;
  font-weight: bolder;
  text-shadow: 0.025vw 0.025vw 0 white, -0.025vw -0.025vw 0 white, 0.025vw -0.025vw 0 white, -0.025vw 0.025vw 0 white, 0.025vw 0.025vw 0 white;
  color: #15478c;
  margin: 0vw 0vw 0vw 0vw;
  font-size: 1.7vw;
}

.project-github-link:hover{
  color: #c46502;
}

.projects-mini{
  margin-bottom: 3vw;
}

/*@keyframes onhover {
  0% {
    width: 20vw;
  }
  100% {
    width: 23vw;
  }
}*/
