.skills-main{
  border-top: 1vw solid #1B97A8;
  border-bottom: 4px solid black;
  background: #1B97A8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* Standard syntax */
}
.skills-main p{
  font-family: 'Sanchez', serif;
  margin: 0vw;
  font-size: 1.7vw;
  text-shadow: 0.05vw 0.05vw 0 #000, -0.05vw -0.05vw 0 #000, 0.05vw -0.05vw 0 #000, -0.05vw 0.05vw 0 #000, 0.05vw 0.05vw 0 #000;
  color: white;
}
.skills-main:nth-child(1){
  text-decoration: underline;
}
.skills-main svg{
  width: 7vw;
}
.fa-5x{
  font-size: 16vw;
}
.logo-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0vw 17vw 0vw 17vw;
}

.react-icon{
  position: relative;
  left: 0.2vw;
  margin: 0vw 0vw !important;
}
.angular-icon{
  width: 12vw !important;
  position: relative;
  left: 0.3vw;
  margin-right: 0vw !important;
  margin-left: 0vw !important;
}
.logo-row *{
  margin: 2vw;
}
.heroku{
  fill: #7E57C2;
}
.single-skill{
  opacity: 0;
}
