html,body{
  text-align: center;
}

textarea{
  width: 28vw;
}
input{
  width: 28vw;
}
textarea:nth-child(3){
  width: 2vw;
}
p{
  font-family: 'Sanchez', serif;
}
h2{
  font-family: 'Sanchez', serif;
}
h3{
  font-family: 'Sanchez', serif;
}

@media(max-width: 770px){
  .single-skill{
    opacity: 1 !important;
  }
  .project-rows-container{
    opacity: 1 !important;
    right: 0vw !important;
  }
  .footer-main h3{
    font-size: 5vw !important;
  }
  .social-media-logos-footer{
    font-size: 8vw !important
  }
  .contact-field div{
    background-image: unset !important;
    width: 67%;

  }
  .contact-field div p{
    font-size: 4vw !important;
    margin: 0vw !important;
  }
  #phone{
    font-size: 8vw !important;
  }
  .project-github-link{
    opacity: 1 !important;
  }
}
